* {
  box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* Remove Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important; /* keep text color consistent */
  transition: background-color 5000s ease-in-out 0s; /* prevent flicker */
}

.auth-title {
  color: #c5d86d;
  margin: 40px 0px;
  font-size: 26px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.auth-input-lable {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif !important;
}
 
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.ps-menu-button{
  height: 70px !important;
}

.ps-menu-button:hover{
  border-right: 4px solid black !important;
}

@media (max-width: 1100px) {
  table thead {
    display: none; /* hide headers */
  }

  table tbody tr {
    display: block;
    margin-bottom: 15px;
    border: 3px solid #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
  }

  /* table tbody tr:hover {
    background-color: #f3f3f3;
  } */

  table tbody tr td {
    border-radius: 7px !important;
  }

  table tbody tr .table-data {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: none;
}
  table tbody tr .table-data::before {
    content: attr(data-label);
    font-weight: bold;
  }

  table tbody tr td[colspan] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
